@media(max-width: 480px){
    .row{
        display: flex;
        flex-direction: row;
    }
    .content{
        text-align: left;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .title{
        text-align: left;
        margin-left: 5vw;
        margin-right: 5vw;
    }
    .text{
        color: skyblue;
        font-size: .7rem;
        margin-left: 5vw;
        margin-right: 1vw;
        font-weight: bold;
    }
    .detailsText{
        font-size: .7rem;
        font-weight: bold;
        margin-right: 8vw;
    }
    .details{
        font-size: .7rem;
    }
    .dot{
        margin-left: 0vw;
        margin-right: 0vw;
    }
    .head{
        display: flex;
        flex-direction: row;
    }
    .like{
        color: orange;
        margin-right: 5vw;
        margin-top: 1vh;
        margin-left: 9vw;
    }
}

@media(max-width: 420px){
    .detailsText{
        font-size: .6rem;
        margin-right: 7vw;
    }
    .details{
        font-size: .6rem;
    }
    .text{
        font-size: .5rem;
        margin-top: .5vw;
    }
    h4{
        font-weight: bold;
    }
}